
/*General Declarations*/
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
}

/*head declarations*/

h2{
    font-family: 'Rubik', sans-serif;
 
}

h4, h5{
     font-family: 'Tiro Telugu', serif;
    /*font-family: 'Merriweather', serif;*/
}

p{
    font-family: 'PT Sans', sans-serif;
}

.h2_nomargin{
    margin: 0px auto;
    padding: 15px;
    padding-top: 200px;;
    border-bottom: 5px groove wheat;
    width: 30%;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2.5px;
    color: whitesmoke;
}

h4.p_tech{
    color: whitesmoke;
    width: 50%;
    font-size: 25px;
    margin: 10px auto;
    text-align: center;
}

h5{
    color: #e2ba6f; 
    font-size: 18px;
    padding: 5px;
    margin:5px 5px 5px 250px;
    font-family: 'Merriweather', serif;
}

    /*header section */ 
.header1{
background-color: #c1ccc1;
}

.logo{
    width: 15%;
    margin-left: 40px;
}

    /* nav top section*/
#nav{
    background-color: #434343;
    padding: 10px;
}

#nav ul{
    list-style-type: none;
    text-align: right;
}

#nav ul li{
    display: inline;
    padding: 15px;
    font-size: 100%;
   
}

#nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: whitesmoke;
}

#nav ul li a:hover{
    border-bottom: 2px ridge wheat;
}

    /*aside section*/
.aside{
    float: left;
    width: 20%;
}
.navside{
    background-color: #c1ccc1;
    padding: 10px;
}
.navside ul{
    list-style-type: none;
    padding: 0px;
}

.navside ul li{
    padding: 10px 0px;
    border: 2px ridge whitesmoke;
    border-radius: 5px;
    margin: 15px;
    background: linear-gradient(to top, #2b362b, #252d38);
    width: 200px;
}

.navside ul li a{
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    padding: 10px;
}

.navside ul li a:hover{
    color: wheat;
    background-color: #000000;
}

    /* section for the main body content*/
.section{
    float: left;
    width: 60%;  
}

.bgtext{
    background-image: url(./img/bgimg1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 600px;
}

section.section1{
    content: "";
    display: table;
    clear: both;
}

/*second section content*/
.mission{
    width: 60%;
    margin-left: 20%;
    background-color: #c1ccc1;
    border-top: 2px solid whitesmoke;
}

.mission h2{
    color: whitesmoke;
    text-align: left;
    padding: 15px 20px;
    margin: 0px;
    background-color: #252d38;
}
.mission h4{
    font: 500 18px Verdana, Ariel, Helvetica;
    color: #252d38;
    padding: 0px 20px;
    margin-bottom: 0px;
}

.mission p{
    color: #000000;
    text-align: left;
    padding: 20px 20px 10px 20px;
    margin: 5px 0px;
}

hr.width{
    width: 30%;
    margin-left: 20px;
    /*margin: 0%;*/
}



